---
layout: default
title: Example
is_example: true
---

<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="media">
        <div class="media-left">
          <a class="non-blank" href="{{ 'examples' | absolute_url }}">
            <span class="is-heading">
              🚀
            </span>
          </a>
        </div>
        <div class="media-body">
          <div class="title">
            # Examples
          </div>
          <div class="subtitle">
            ค้นหา <strong>ตัวอย่าง</strong> ของโปรแกรมต่างๆบน Repository ของเรา
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="box breadcrumb is-marginless is-radiusless">
  <div class="container">
    <ul>
      <li>ตัวอย่างโปรแกรม</li>
    </ul>
  </div>
</div>
<section id="ex" class="section">
  <div class="container">
    <div class="columns is-reverse">
      <div class="column is-three-quarters">
        {% for example in site.examples %}
          <article class="media">
            <div class="media-left">
              <a href="{{ example.url | absolute_url }}"><i class="ex-icon fas fa-code"></i></a>
            </div>
            <div class="media-body">
              <p>
                <strong>{{ example.title }}</strong>
                <small>
                  <a href="{{ example.author.url | absolute_url }}">@{{ example.author.name }}</a>
                  {{ example.date | date_to_long_string }}
                </small>
              </p>
              <p>
                {{ example.path }}
              </p>
            </div>
            <div class="media-right">
              <div class="media-right">
                <span class="tag is-danger">
                  {% for i in (1..example.level) %}
                    <i class="fab fa-hotjar badge-level"></i>
                  {% endfor %}
                  {% assign level_outer = 5 | minus: example.level %}
                  {% for i in (1..level_outer) %}
                    <i class="fas fa-circle badge-level badge-empty"></i>
                  {% endfor %}
                </span>
              </div>
            </div>
          </article>
        {% endfor %}
      </div>
      <div class="column">
        <nav class="panel">
          <p class="panel-heading">
            Filters
          </p>
          <div class="panel-block">
            <div class="dropdown is-hoverable is-fullwidth">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                  <span>ตัวอย่างทั้งหมด</span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content">
                  <a v-for="item of languages" href="#" class="dropdown-item">
                    {% raw %}
                      {{ item }}
                    {% endraw %}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>

<script>
  new Vue({
    el: '#ex',
    data: {
      languages: [
        {% for example in site.examples %}
          {% assign path = example.path | remove_first:'_examples/' | split:'/' %}
          {% for folder in path %}
              {% unless forloop.last %}
                '{{ folder }}',
              {% endunless %}
          {% endfor %}
        {% endfor %}
      ]
    }
  });
</script>
