<aside data-gumshoe-header class="menu is-docs">
  {% for item in site.data.docs %}
    <p class="menu-label">
      <i class="fas fa-book" style="margin-right: 3px;"></i>
      <span>{{ item.title }}</span>
    </p>
    <ul class="menu-list">
      {% for sub_item in item.sub_docs %}
        {% assign url = item.url | prepend: "/docs/" | append: "/" | append: sub_item.url | append: "/" %}
        <li>
          <a href="{{ url | absolute_url }}" {% if page.url == url %}class="is-active"{% endif %}>
            {{ sub_item.title }}
          </a>
          {% if page.url == url %}
            <ul data-gumshoe class="sub-docs"></ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</aside>
