.icon {
  &.is-heading {
    border: 2px solid black;
    border-radius: 50%;
    padding: 30px;
    font-size: 2rem;
  }
  &.is-heading.has-text-link {
    border-color: $link;
  }
  a.is-hoverable:hover & {
    color: #303030 !important;
    border-color: #303030;
  }
}

.badge-level:not(:last-child) {
  margin-right: 3px;
}

.menu.is-docs {
  p.menu-label {
    font-size: 1rem;
    letter-spacing: inherit;
    text-transform: inherit;
    border-bottom: 1px solid gainsboro;
    padding-bottom: .5em;
    margin-bottom: .5em;
  }
}

.content {
  h1 {
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
  }
  ul {
    margin-top: 0;
  }
  li {
    word-wrap: break-word;
  }
  div[style*="position:relative;padding-bottom:54%"] + p em,
  img + em {
    display: block;
    text-align: center;
    padding-bottom: 5px;
  }
  img:not(.emojione) {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
  }
  code.highlighter-rouge {
    white-space: nowrap;
    padding: 3px 8px;
  }
  blockquote code {
    background-color: #ececec;
  }
  blockquote {
    background-color: aliceblue;
    border-left: 5px solid #3273dc;
    border-radius: 4px;
  }
}

.docs-nav-menu {
  padding: 10px 15px 0 15px;
  .menu {
    padding-top: 10px;
    border-top: 1px solid #eaeaea;
  }
}
