.task-list-item-checkbox {
  margin-right: 5px;
}

.task-list-item {
  list-style: none;
}

.navbar {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#shadowed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, .5);
}
