div.highlighter-rouge {
  margin: 20px 0;
  position: relative;
  .runner {
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    vertical-align: middle;
    top: -14.5px;
    padding: 5px;
    border-radius: 50%;
    color: white;
    position: absolute;
    z-index: 25;
    font-size: .8rem;
    margin-top: 10px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  }
  .runner.fa-copy {
    left: 5px;
    background-color: #909090;
  }
  .runner:hover {
    cursor: pointer;
  }
}
div.highlighter-rouge.language-javascript {
  .runner.fa-play {
    left: 5px;
    background-color: #14ce67;
    padding-left: 7.5px;
  }
  .runner.fa-code {
    left: calc(33px + 5px);
    background-color: #3273dc;
  }
  .runner.fa-copy {
    left: calc((33px * 2) + 5px);
    background-color: #909090;
  }
}
div.highlighter-rouge.is-danger.language-javascript {
  .runner.fa-play {
    background-color: #ff2020;
  }
}
.editor {
  &.lines {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 2rem;
  }
  .line {
    list-style: none;
    margin: 25px 0 0 0;
    text-align: right;
    li+li.no {
      margin-top: 0;
    }
    .no {
      color: #c6c6c6;
    }
  }
}
pre.highlight {
  position: relative;
  padding: 1.75em 1.25em 1.25em 3.5em;
  border-radius: 4px;
  margin-top: 10px;
}
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #008000 } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #0000ff } /* Keyword */
.highlight .ch { color: #008000 } /* Comment.Hashbang */
.highlight .cm { color: #008000 } /* Comment.Multiline */
.highlight .cp { color: #0000ff } /* Comment.Preproc */
.highlight .cpf { color: #008000 } /* Comment.PreprocFile */
.highlight .c1 { color: #008000 } /* Comment.Single */
.highlight .cs { color: #008000 } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gp { font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #0000ff } /* Keyword.Constant */
.highlight .kd { color: #0000ff } /* Keyword.Declaration */
.highlight .kn { color: #0000ff } /* Keyword.Namespace */
.highlight .kp { color: #0000ff } /* Keyword.Pseudo */
.highlight .kr { color: #0000ff } /* Keyword.Reserved */
.highlight .kt { color: #2b91af } /* Keyword.Type */
.highlight .s { color: #a31515 } /* Literal.String */
.highlight .nc { color: #2b91af } /* Name.Class */
.highlight .ow { color: #0000ff } /* Operator.Word */
.highlight .sa { color: #a31515 } /* Literal.String.Affix */
.highlight .sb { color: #a31515 } /* Literal.String.Backtick */
.highlight .sc { color: #a31515 } /* Literal.String.Char */
.highlight .dl { color: #a31515 } /* Literal.String.Delimiter */
.highlight .sd { color: #a31515 } /* Literal.String.Doc */
.highlight .s2 { color: #a31515 } /* Literal.String.Double */
.highlight .se { color: #a31515 } /* Literal.String.Escape */
.highlight .sh { color: #a31515 } /* Literal.String.Heredoc */
.highlight .si { color: #a31515 } /* Literal.String.Interpol */
.highlight .sx { color: #a31515 } /* Literal.String.Other */
.highlight .sr { color: #a31515 } /* Literal.String.Regex */
.highlight .s1 { color: #a31515 } /* Literal.String.Single */
.highlight .ss { color: #a31515 } /* Literal.String.Symbol */
