div.highlighter-rouge {
  margin: 20px 0;
  position: relative;
  .runner {
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    vertical-align: middle;
    top: -14.5px;
    padding: 5px;
    border-radius: 50%;
    color: white;
    position: absolute;
    z-index: 25;
    font-size: .8rem;
    margin-top: 10px;
  }
  .runner.fa-copy {
    left: 5px;
    background-color: #909090;
  }
  .runner:hover {
    cursor: pointer;
  }
}
div.highlighter-rouge.language-javascript {
  .runner.fa-play {
    left: 5px;
    background-color: #14ce67;
    padding-left: 7.5px;
  }
  .runner.fa-code {
    left: calc(33px + 5px);
    background-color: #3273dc;
  }
  .runner.fa-copy {
    left: calc((33px * 2) + 5px);
    background-color: #909090;
  }
}
div.highlighter-rouge.is-danger.language-javascript {
  .runner.fa-play {
    background-color: #ff2020;
  }
}
.editor {
  &.lines {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 2rem;
  }
  .line {
    list-style: none;
    margin: 25px 0 0 0;
    text-align: right;
    li+li.no {
      margin-top: 0;
    }
    .no {
      color: #727272;
    }
  }
}
pre.highlight {
  position: relative;
  color: #f8f8f2;
  background-color: #49483e;
  padding: 1.75em 1.25em 1.25em 3.5em;
  border-radius: 4px;
  margin-top: 10px;
}
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .c, .highlight .cd {
  color: #75715e;
}
.highlight .cm {
  color: #9e9982;
}
.highlight .c1 {
  color: #9e9982;
}
.highlight .cp {
  color: #75715e;
  font-weight: bold;
}
.highlight .cs {
  color: #75715e;
  font-weight: bold;
}
.highlight .err {
  color: #ffffff;
}
.highlight .gi {
  color: #ffffff;
  background-color: #324932;
}
.highlight .gd {
  color: #ffffff;
  background-color: #493131;
}
.highlight .ge {
  color: #000000;
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .k, .highlight .kv {
  color: #66d9ef;
  font-weight: bold;
}
.highlight .kc {
  color: #66d9ef;
  font-weight: bold;
}
.highlight .kd {
  color: #66d9ef;
  font-weight: bold;
}
.highlight .kp {
  color: #66d9ef;
  font-weight: bold;
}
.highlight .kr {
  color: #66d9ef;
  font-weight: bold;
}
.highlight .kt {
  color: #66d9ef;
  font-weight: bold;
}
.highlight .kn {
  color: #f92672;
  font-weight: bold;
}
.highlight .ow {
  color: #f92672;
  font-weight: bold;
}
.highlight .o {
  color: #f92672;
  font-weight: bold;
}
.highlight .mf {
  color: #ae81ff;
}
.highlight .mh {
  color: #ae81ff;
}
.highlight .il {
  color: #ae81ff;
}
.highlight .mi {
  color: #ae81ff;
}
.highlight .mo {
  color: #ae81ff;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #ae81ff;
}
.highlight .se {
  color: #ae81ff;
}
.highlight .sb {
  color: #e6db74;
}
.highlight .sc {
  color: #e6db74;
}
.highlight .sd {
  color: #e6db74;
}
.highlight .s2 {
  color: #e6db74;
}
.highlight .sh {
  color: #e6db74;
}
.highlight .si {
  color: #e6db74;
}
.highlight .sx {
  color: #e6db74;
}
.highlight .sr {
  color: #e6db74;
}
.highlight .s1 {
  color: #e6db74;
}
.highlight .ss {
  color: #e6db74;
}
.highlight .s {
  color: #e6db74;
}
.highlight .na {
  color: #a6e22e;
}
.highlight .nc {
  color: #a6e22e;
  font-weight: bold;
}
.highlight .nd {
  color: #a6e22e;
  font-weight: bold;
}
.highlight .ne {
  color: #a6e22e;
  font-weight: bold;
}
.highlight .nf {
  color: #a6e22e;
  font-weight: bold;
}
.highlight .no {
  color: #66d9ef;
}
.highlight .bp {
  color: #f8f8f2;
}
.highlight .nb {
  color: #f8f8f2;
}
.highlight .ni {
  color: #f8f8f2;
}
.highlight .nn {
  color: #f8f8f2;
}
.highlight .vc {
  color: #f8f8f2;
}
.highlight .vg {
  color: #f8f8f2;
}
.highlight .vi {
  color: #f8f8f2;
}
.highlight .nv {
  color: #f8f8f2;
}
.highlight .w {
  color: #f8f8f2;
}
.highlight .nl {
  color: #f8f8f2;
  font-weight: bold;
}
.highlight .nt {
  color: #f92672;
}
