<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% seo title=false %}
  <meta property="og:type" content="article">
  {% feed_meta %}
  <title>
    {% if page.title and page.disable_title != true %}
      {{ page.title }} | {{ site.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/{{ site.version.bulma }}/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v{{ site.version.fontawesome }}/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/{{ site.version.tippyjs }}/tippy.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/{{ site.version.noty }}/noty.min.css">
  <link rel="stylesheet" href="{{ 'assets/css/app.css' | absolute_url }}">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ 'assets/icons/apple-icon-57x57.png' | absolute_url }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ 'assets/icons/apple-icon-60x60.png' | absolute_url }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ 'assets/icons/apple-icon-72x72.png' | absolute_url }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ 'assets/icons/apple-icon-76x76.png' | absolute_url }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ 'assets/icons/apple-icon-114x114.png' | absolute_url }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ 'assets/icons/apple-icon-120x120.png' | absolute_url }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ 'assets/icons/apple-icon-144x144.png' | absolute_url }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ 'assets/icons/apple-icon-152x152.png' | absolute_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/icons/apple-icon-180x180.png' | absolute_url }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ 'assets/icons/android-icon-192x192.png' | absolute_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/icons/favicon-32x32.png' | absolute_url }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ 'assets/icons/favicon-96x96.png' | absolute_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/icons/favicon-16x16.png' | absolute_url }}">
  <link rel="manifest" href="{{ 'assets/icons/manifest.json' | absolute_url }}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ 'assets/icons/ms-icon-144x144.png' | absolute_url }}">
  <meta name="theme-color" content="#ffffff">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/{{ site.version.tippyjs }}/tippy.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/{{ site.version.noty }}/noty.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/{{ site.version.moment }}/moment.min.js"></script>
  {% if site.production %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/{{ site.version.vue }}/vue.min.js"></script>
  {% else %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/{{ site.version.vue }}/vue.js"></script>
  {% endif %}
</head>
<body>
  <div id="shadowed" style="display: none;"></div>
  <div id="app">
    {% include navbar.html %}
    <main>
      {{ content }}
    </main>
  </div>
  {% if page.disable_footer != true %}
    <footer id="footer" class="footer {% if page.is_doc %}is-docs{% endif %}">
      <div class="container">
        <div class="content">
          {% include footer.html %}
        </div>
      </div>
    </footer>
  {% endif %}
  <script src="{{ 'assets/js/offset.js' | absolute_url }}"></script>
  <script src="{{ 'assets/js/gumshoe.js' | absolute_url }}"></script>
  <script src="{{ 'assets/js/app.js' | absolute_url }}"></script>
  {% if page.is_doc or page.is_example %}
    {% unless page.disable_disqus %}
      <script>
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://nakorndev.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
      </script>
    {% endunless %}
  {% endif %}
</body>
</html>
