---
layout: default
---

<div id="desktop-sidebar" class="is-hidden-touch">
  {% include docs_sidebar.html %}
</div>
<section class="section is-docs">
  <div class="container is-fluid">
    <div class="field">
      <div class="media">
        <div class="media-left">
          <a class="is-hoverable non-blank" href="{{ page.url | absolute_url }}">
            <span class="icon is-heading has-text-link">
              <i class="{{ page.icon }}" {{ page.icon-custom }}></i>
            </span>
          </a>
        </div>
        <div class="media-body">
          <div class="title">
            <a class="non-blank" href="{{ page.url | absolute_url }}">#</a> {{ page.title }}
          </div>
          <div class="subtitle">
            {{ page.subtitle }}
          </div>
        </div>
      </div>
    </div>
    {% if page.duration and page.difficulty %}
      <div class="field is-grouped is-grouped-multiline">
        <div class="control">
          <div class="tags has-addons">
            <span class="tag">
              <span class="icon is-small"><i class="fas fa-fire-extinguisher"></i></span>
              <span>ความยาก</span>
            </span>
            <span class="tag is-danger">
              {% for i in (1..page.difficulty) %}
                <i class="fab fa-hotjar badge-level"></i>
              {% endfor %}
              {% assign difficulty_outer = 5 | minus: page.difficulty %}
              {% for i in (1..difficulty_outer) %}
                <i class="fas fa-circle badge-level badge-empty"></i>
              {% endfor %}
            </span>
          </div>
        </div>
        <div class="control">
          <div class="tags has-addons">
            <span class="tag">
              <span class="icon is-small"><i class="fas fa-clock"></i></span>
              <span>เวลาเรียน</span>
            </span>
            <span class="tag is-warning">
              {% for i in (1..page.duration) %}
                <i class="fas fa-bolt badge-level"></i>
              {% endfor %}
              {% assign duration_outer = 5 | minus: page.duration %}
              {% for i in (1..duration_outer) %}
                <i class="fas fa-circle badge-level badge-empty"></i>
              {% endfor %}
            </span>
          </div>
        </div>
        <div class="control">
          <div class="tags has-addons">
            <span class="tag">
              <span class="icon is-small"><i class="fas fa-graduation-cap"></i></span>
              <span>มีคุณค่า</span>
            </span>
            <span class="tag is-success">
              {% for i in (1..page.useful) %}
                <i class="fas fa-check-circle badge-level"></i>
              {% endfor %}
              {% assign useful_outer = 5 | minus: page.useful %}
              {% for i in (1..useful_outer) %}
                <i class="fas fa-circle badge-level badge-empty"></i>
              {% endfor %}
            </span>
          </div>
        </div>
      </div>
    {% endif %}
    <hr>
    <div id="docs" class="content">
      {{ content }}
    </div>
    {% include docs_paginate.html %}
  </div>
</section>
