---
layout: default
---

<div class="is-hidden-touch">
  {% include docs_sidebar.html %}
</div>
<section class="section is-docs">
  <div class="container is-fluid">
    {% if page.duration and page.level %}
      <div class="field is-grouped is-grouped-multiline">
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-medium is-dark">
              ระดับ
            </span>
            <span class="tag is-medium is-info">
              {{ page.level }}
            </span>
          </div>
        </div>
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-medium is-dark">
              ใช้เวลาเรียน
            </span>
            <span class="tag is-medium is-primary">
              {{ page.duration }} นาที
            </span>
          </div>
        </div>
      </div>
    {% endif %}
    {% if page.icon %}
      <span class="icon is-heading has-text-success">
        <i class="{{ page.icon }}"></i>
      </span>
    {% endif %}
    {% if page.title %}
      <div class="title">
          {{ page.title }}
      </div>
    {% endif %}
    {% if page.subtitle %}
      <div class="subtitle">
        {{ page.subtitle }}
      </div>
    {% endif %}
    {% if page.title and page.subtitle %}
      <hr>
    {% endif %}
    <div id="docs" class="content">
      {{ content }}
    </div>
    {% include docs_paginate.html %}
  </div>
</section>
