---
layout: default
---

<div class="is-hidden-touch">
  {% include docs_sidebar.html %}
</div>
<section class="section is-docs">
  <div class="container is-fluid">
    {% if page.duration and page.level %}
      <div class="field is-grouped is-grouped-multiline">
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-dark">
              ระดับ
            </span>
            <span class="tag is-info">
              {{ page.level }}
            </span>
          </div>
        </div>
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-dark">
              ใช้เวลาเรียน
            </span>
            <span class="tag is-primary">
              {{ page.duration }} นาที
            </span>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="media">
      <div class="media-left">
        <a class="is-hoverable non-blank" href="{{ page.url | absolute_url }}">
          <span class="icon is-heading has-text-link">
            <i class="{{ page.icon }}" {{ page.icon-custom }}></i>
          </span>
        </a>
      </div>
      <div class="media-body">
        <div class="title">
          <a class="non-blank" href="{{ page.url | absolute_url }}">#</a> {{ page.title }}
        </div>
        <div class="subtitle">
          {{ page.subtitle }}
        </div>
      </div>
    </div>
    <hr>
    <div id="docs" class="content">
      {{ content }}
    </div>
    {% include docs_paginate.html %}
  </div>
</section>
